@use "mixin" as *;

.try {
  /** ここに記述しよう */
  .spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 100px auto;
  }

  .double-spinner {
   
  }

  .rect-spinner {
    
  }
}
